:root {
	--black: 
  rgba(0, 0, 0, 1);
	--concrete: 
  rgba(242, 242, 242, 1);
  
	--font-size-m: 16px;
	--font-size-l: 20px;
	--font-size-xl: 30px;
  
	--font-family-roboto: "Roboto";
  }

.client-home-screen {
	align-items: center;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	height: 844px;
	padding: 81px 0;
	position: relative;
	width: 390px;
  }
  
  .place {
	color: var(--black);
	font-family: var(--font-family-roboto);
	font-size: var(--font-size-xl);
	font-weight: 700;
	letter-spacing: 0;
	margin-right: 1.0px;
	min-height: 35px;
	min-width: 125px;
	text-align: center;
  }
  
  .text-1 {
	color: var(--black);
	font-family: var(--font-family-roboto);
	font-size: var(--font-size-l);
	font-weight: 700;
	letter-spacing: 0;
	margin-right: 1.0px;
	margin-top: 69px;
	min-height: 23px;
	min-width: 285px;
	text-align: center;
  }
  
  .todo-button {
	align-items: center;
	background-color: var(--concrete);
	border-radius: 10px;
	box-shadow: 0px 4px 12px #00000040;
	display: flex;
	height: 61px;
	margin-top: 30px;
	min-width: 304px;
	padding: 0 96px;
	border: 2px solid black;
  }
  
  .view-my-profile {
	letter-spacing: 0;
	min-height: 19px;
	min-width: 111px;
	text-align: center;
  }
  
  .todo-button.todo-button-1 {
	margin-top: 32px;
	padding: 0 79px;
  }
  
  .todo-button.todo-button-1 .view-my-profile {
	min-width: 144px;
  }
  
  .todo-button.todo-button-2 {
	margin-top: 32px;
	padding: 0 66px;
  }
  
  .todo-button.todo-button-2 .view-my-profile {
	min-width: 171px;
  }
  
  .screen a {
	display: contents;
	text-decoration: none;
  }
  
  .container-center-horizontal {
	display: flex;
	flex-direction: row;
	justify-content: center;
	pointer-events: none;
	width: 100%;
	margin-top: 6rem;
  }
  
  .container-center-horizontal > * {
	flex-shrink: 0;
	pointer-events: auto;
  }

  .roboto-medium-black-16px {
	color: var(--black);
	font-family: var(--font-family-roboto);
	font-size: var(--font-size-m);
	font-weight: 500;
	font-style: normal;
  }

  @import url("https://fonts.googleapis.com/css?family=Roboto:700,500");