.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button:hover {
    background-color: #008CBA;
    color: white;
  }
.button{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}